{{ include('layouts/head.html.twig') }}

{{ include('layouts/nav.html.twig') }}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Public/img/bg/blog.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Le Blog</h1>
                    <span class="subheading">Comment j'ai réalisé le blog étape par étape</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="/single_post">
                    <h2 class="post-title">
                        Test
                    </h2>
                    <h3 class="post-subtitle">
                        Test
                    </h3>
                </a>
                <p class="post-meta">Posté par
                    <a href="#">Frak</a>
                    on July 24, 2019</p>
            </div>
            <hr>
            <!-- Pager
            <div class="clearfix">
              <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
          </div>
        </div>
      </div>

      <hr> -->


{{ include('layouts/footer.html.twig') }}