{% extends "index.html.twig" %}

{% block title %}Login{% endblock %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/Public/img/bg/connect.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Connexion</h1>
                    <span class="subheading">Connectez vous ou créez un compte afin de pouvoir commenter les publications!</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}
<!-- Main Content -->
<div class="container">
    <div class="row justify-content-center">
        {% if  submit %}
            <div class="alert alert-success">
                Bravo {{ user.firstName }} !
                Tu es connecté(e)!
            </div>
        {% endif %}
        {% if  hadToRegister %}
            <div class="alert alert-danger">
                Veuillez créer un compte!
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Renseignez les champs ci dessous pour vous connecter :</p>
            <form name="login" action="" method="post" id="login">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Indentifiant</label>
                        <input name="email" type="text" class="form-control" placeholder="email" id="email" required
                               data-validation-required-message="Veuillez entrer votre email.">
                        <p class="help-block text-danger"></p>
                        {% if  email %}
                            <div class="alert alert-danger">Merci de renseigner votre email</div>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Password</label>
                        <input name="password" type="password" class="form-control" placeholder="Mot de passe"
                               id="password" required
                               data-validation-required-message="Veuillez entrer votre mot de passe.">
                        <p class="help-block text-danger"></p>
                        {% if  mdp %}
                            <div class="alert alert-danger">Merci de renseigner votre mot de passe</div>
                        {% endif %}
                        {% if  checkmdp %}
                            <div class="alert alert-danger">Merci de renseigner le bon mot de passe</div>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" id="loginButton">Connexion</button>
                    <a href="/register" class="btn btn-primary" id="registerButton">Inscription</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
