{{ include('layouts/admin.head.html.twig') }}

<script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>

{{ include('layouts/admin.nav.html.twig') }}

<div class="container">

    <textarea name="editor1"></textarea>
    <script>
        CKEDITOR.replace('editor1');
    </script>

</div>